
/* цвет вторичный, футер #2F303A; */

 :root { 
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-white: #FFFFFF;
  --accent-color: #2196F3;
  --bt-primary: #F5F4FA;
  --bt-second: #2196F3;
 }

.page {
    background-color: var(--text-color-white);
    color: var(--text-color-black);
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
  }
a {
  text-decoration: none;
}

h1,
h2 {
  color: var(--text-color-white);
}

  .logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
}
  .logo span{
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

/* header nav */
  
  .site-nav a{
      color: var(--text-color-black);
  }

  .site-nav a:hover,
  .site-nav a:focus {
      color: #2196F3;
  } 
 
  /* подсвечивается активная  СТАНИЦА сейчас, где находимся */
  .site-nav .link.current {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }

  .auth-nav a{
    color: var(--text-color-grey);
}
  .auth-nav a:hover,
  .auth-nav a:focus {
      color: #2196F3;
  }

.portfolio-filter button:hover,
.portfolio-filter button:focus {
    color: #FFFFFF;
    background-color: var(--bt-second);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
}

/* main */
.portfolio-card p {
color: var(--text-color-grey);
}

.portfolio-card h3{
  color: var(--text-color-black);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

/* footer */
.footer {
  background-color: #2F303A;
}

.info-studio a,span{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: normal;

}
.info-studio a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
}

